.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 200px;
  height: 408px;
  padding: 24px 16px 15px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  font-family: Roboto, sans-serif;

  &__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-bottom: 30px; // Zmniejszony z 40, bo obniżyliśmy cały kontener paddingiem
    text-decoration: none;
  }

  &__image {
    display: block;
    max-width: 97.5%;
    max-height: 97.5%;
    object-fit: contain;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    display: -webkit-box;
    height: 32px;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #060b35;
    letter-spacing: 0%;
    text-decoration: none;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__code {
    height: 14px;
    margin-bottom: 20px;
    font-size: 10px;
    line-height: 1;
    color: #616070;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 16px; // Dopasowane do nowych gwiazdek
    margin-bottom: auto;
    overflow: visible;
  }

  &__reviews {
    position: relative;
    top: -3px; // Korygujemy pozycję tekstu względem gwiazdek
    width: 53px;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    line-height: 1;
    text-align: right;
    color: #060b35;
    white-space: nowrap;
  }

  &__price-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 18px;
    margin-top: 8px;
    margin-bottom: 17px;
  }

  &__price-label {
    font-size: 12px;
    line-height: 1.3;
    position: relative;
    top: -2px;
    color: #616070;
  }

  &__price {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #060b35;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    // 1. Ustawiamy pełny piksel, żeby krawędzie były ostre (brak fioletu na obrysie)
    // Jeśli -2.5px było idealne dla tekstu, spróbuj -2px lub -3px dla tła
    top: -2px;

    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #00acdc;
    border: none;

    // 2. Korygujemy pozycję samego tekstu wewnątrz pudełka
    // Padding-bottom "wypchnie" napis BUY do góry o ten brakujący ułamek
    padding-bottom: 2px;

    // 3. Reszta bez zmian
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    line-height: 1;
  }
}
