.stars {
  display: inline-block;
  width: 80px;  // 5 gwiazdek po 16px
  height: 16px; // wysokość jednej gwiazdki

  // Tło z pustymi gwiazdkami x 5
  background-image: url('../images/star.svg');
  background-repeat: repeat-x;
  background-size: 16px 16px;
  position: relative;

  // Tworzy "warstwę" z pełnymi gwiazdkami za pomocą pseudoelementu
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url('../images/star-active.svg');
    background-repeat: repeat-x;
    background-size: 16px 16px;
    width: 0; // domyślnie 0 gwiazdek jest pełnych
  }

  // kontrola żółtej warstwy
  &--1::before { width: 20%; }  // 1 gwiazdka
  &--2::before { width: 40%; }  // 2 gwiazdki
  &--3::before { width: 60%; }  // 3 gwiazdki
  &--4::before { width: 80%; }  // 4 gwiazdki
  &--5::before { width: 100%; } // 5 gwiazdek
}
