// Kolory

$color-main: #1eb8d4;         // morski błękit z przycisku
$color-black: #000;       // Główny tekst
$color-gray-text: #999;   // Kod produktu i etykieta "Price"
$color-border: #e2e2e2;      // Obramowanie karty
$color-white: #fff;       // Tło karty
$color-bg-page: #f5f5f5;     // Tło strony

// Typografia
$font-family: 'Roboto', sans-serif;

// Wymiary
$card-width: 200px;
